<div class="page-header m_head">
    <a href="javascript:history.go(-1)" class="glyphicon glyphicon-chevron-left"></a>
    <h3>{{page.title}}<span class="glyphicon glyphicon-align-justify"></span></h3>
</div>
<div class="homePage">
    <div class="contents">
        <img ng-src="{{goods.imgurl}}" alt="">
        <p>{{goods.title}}</p>
        <p>价格: <span class="price">{{goods.price | currency:'￥'}} </span>
            <span>打{{goods.off}}折</span>
        </p>
        <button type="button" class="btn btn-danger">购买</button>
        <button type="button" class="btn btn-danger">加入购物车</button>
    </div>
</div>
